[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gp2gp-transfer-classifier = {editable = true, path = "."}

[dev-packages]
black = "==26.1.0"
bandit = "~=1.9.3"
isort = "~=7.0.0"
mypy = "~=1.19.1"
types-python-dateutil = "~=2.9"
types-freezegun = "~=1.1.10"
pytest-datadir = "~=1.8.0"
freezegun = "~=1.5.5"
pytest-cov = "~=7.0.0"
moto = {version = "~=5.1.20", extras = ["server"]}
pytest = "~=9.0.2"
boto3-stubs = {extras = ["s3"], version = "1.42.3"}
urllib3 = "==2.6.3"
setuptools = "=80.10.2"

[requires]
python_version = "3.14"

[scripts]
test = "pytest --cov=prmdata --cov-report=term-missing tests/unit tests/e2e"
e2etest-verbose = "pytest  -p no:logging -rA tests/e2e"
format-import = "isort src/ tests/ setup.py"
format = "black -t py314 -l100 src/ tests/ setup.py"
check-format = "black --check -t py314 -l100 src/ tests/ setup.py"
typecheck = "mypy src/ tests/"
lint-bandit = "bandit -r src/"
