[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gp2gp-ods-downloader = {editable = true, path = "."}

[dev-packages]
black = "==25.11.0"
bandit = "~=1.9.2"
isort = "~=7.0.0"
mypy = "~=1.19.0"
types-requests = "*"
types-python-dateutil = "*"
types-freezegun = "*"
moto = {version = "~=5.1.18", extras = ["server"]}
freezegun = "~=1.5.5"
pytest-cov = "~=7.0.0"
pytest = "~=9.0.1"
urllib3 = "==2.6.0"

[requires]
python_version = "3.14"

[scripts]
test = "pytest --cov=prmods --cov-report=term-missing tests/unit tests/e2e"
e2etest-verbose = "pytest  -p no:logging -rA tests/e2e"
format-import = "isort src/ tests/ setup.py"
format = "black -t py38 -l100 src/ tests/ setup.py"
check-format = "black --check -t py38 -l100 src/ tests/ setup.py"
typecheck = "mypy src/ tests/"
lint-bandit = "bandit -r src/"
